.root {
    -fx-background-size: contain, contain, contain, contain, contain, contain;
    -fx-background-position: bottom, bottom, bottom, bottom, bottom, bottom;
    -fx-background-repeat: repeat-x, repeat-x, repeat-x, repeat-x, repeat-x, repeat-x;
    -fx-background-image: url("../images/Picture1.png");
    /*-fx-background-size: cover;*/
}

.pane {
    -fx-background-color: rgba(167, 135, 199, 0.7);
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-border-color: #4b3081;
}
.Button {
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-background-color: #51a4e8;
    -fx-border-color: #00b2ff;
    -fx-cursor: hand;
}